<!-- Footer -->
<footer id="myfoot" class="page-footer font-small blue pt-4 navbar-dark bg-dark fixed-bottom ">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
            <div class="col-3 m-0">
                <h1 style="text-align:left;float:left;" class="display-2"><strong>&#9813;</strong></h1>
            </div>
            <div class="col-9 px-0 py-3">
                <h1><strong> GOATHAM ROYAL</strong></h1>
                <h5>Experience the Royal Life</h5>
            </div>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
            <h5 class="text-uppercase">Address : </h5>
          <ul class="list-unstyled pl-4">
            <li>
                <p><strong>1185  Birnin Zana</strong></p> 
            </li>
            <li>
                <p><strong>The Golden City - 921517</strong></p>
            </li>
            <li>
                <p><strong>WAKANDA</strong></p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Contact Us</h5>
  
          <ul class="list-unstyled">
            <li>
                <p><strong><i class="fas fa-envelope"></i> <span class="px-2"></span> info@gothamroyal@gmail.com </strong></p>
            </li>
            <li>
                <p><strong><i class="fab fa-twitter"></i> <span class="px-2"></span> @gotham_royal </strong></p>
            </li>
            <li>
                <p><strong><i class="fab fa-instagram"></i> <span class="px-2"></span> @ig_gothamroyal </strong></p>
            </li>
            <li>
                <p><strong><i class="fas fa-phone-alt"></i></i> <span class="px-2"></span> +(725) 858-945-5295 </strong></p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: black;">© 2020 Copyright
    </div>
    <!-- Copyright -->
  
  </footer>
    
    <script src="/scripts/main.js"></script>

    </body>
</html>