<%- include('partials/header.ejs')%>

    <div class="container" style=" margin: 25px auto; margin-top: 6rem; background-color: rgb(190, 221, 248); ">
        <h1> &#9813 GOTHAM ROYAL</h1>
        <hr>
        <p>
            Hotel The Gotham Royal is five-star luxury hotel situated in the business district of Bangalore. It features
            several restaurants, a swimming pool and 24-hour spa. Guests have a choice between several types of rooms including
            Superior, Long Stay, Club Pavilion and Executive Suites. All are air-conditioned and feature safes, tea and coffee
            facilities, hairdryers, televisions and minibars. Long Stay rooms have kitchen facilities and Executive Suites have
            Jacuzzis. Amenities include a 24-hour tour desk, airport shuttle, child care services and complimentary Wi-Fi. A fitness
            centre, conference room, and laundry facilities are also on site. Ithaca is a gourmet restaurant that features a variety
            of Mediterranean dishes 24 hours a day. Amnesia is a lively, hip establishment offering drinks and snacks. Complimentary
            breakfast is served at this hotel each morning and 24-hour room service is available. Nearby attractions include
            Visvesvaraya Industrial and Technological Museum and St. Mark's Cathedral which are two kilometres away. Cubbon Park and
            Bangalore Aquarium are also about two kilometres away.
        </p>
        <img style="width: 100%;" src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg" alt="">
        <div class="row py-4">
            <div class="col-6">
                <h4>Hotel Facilities</h4>
                <ul class="py-2">
                    <li>24-hour room service</li>
                    <li>24-hour reception</li>
                    <li>Airport shuttle</li>
                    <li>Business centre</li>
                    <li>Car park</li>
                    <li>Conference rooms</li>
                    <li>Gym</li>
                    <li>Free WiFi in lobby</li>
                    <li>Outdoor swimming pool</li>
                    <li>Porter service</li>
                </ul>
            </div>
            <div class="col-6">
                <h4>Room Facilities</h4>
                <ul class="py-2">
                    <li>Air conditioning</li>
                    <li>Bathroom with shower</li>
                    <li>Airport shuttle</li>
                    <li>Cable TV</li>
                    <li>Central heating</li>
                    <li>Desk</li>
                    <li>Electric kettle</li>
                    <li>Fridge</li>
                    <li>Hairdryer</li>
                    <li>WiFi in rooms</li>
                </ul>
            </div>
        </div>

    </div>

<%- include ('partials/footer.ejs')%>