body{
    background-color: rgb(241, 213, 213);
}

.card-img-top {
    height: fit-content;
}

.container-fluid {
    width: 90%;
}

.jumbotron {
    height: 30rem;
    background-image: url("https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg");
    /* background-image: url("https://pixabay.com/get/5fe6d7444257b10ff3d8992ccf2934771438dbf85257714c7c297ad5954e_340.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(214, 246, 247);
    opacity: 0.9;
}
.jumbotron h1, .jumbotron h3, .jumbotron p {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
                 margin-top: 1.3rem;
}

.jumbotron p {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color:rgb(214, 246, 247);
}

.card a {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.card section {
    position: absolute;
    bottom: 0;
    left: 20px;
}

.card article {
    position: absolute;
    bottom: 8rem;
    right: 18rem;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(214, 246, 247);
}
#newRoom {
    margin-top: 20%;
}


#mynav {
    opacity: 0.7;
}
#myfoot {
  opacity: 0.7;
}

#myfoot {
  color: rgb(214, 246, 247);
}

#myfoot h1, #myfoot h5 {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

#showRoom {
    margin-top: 4rem;
}

.showImage {
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a.btn-success{
    width: 20rem;
}

#newRoom {
    width: 50%
}

.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    
    
    min-height: 200px;
    width: 50vw;
    margin: 100px auto;
    margin-bottom: 10px;
    background: rgb(201, 247, 253);
    border-radius: 5px;
  }

  .r_header {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    margin-top: 1.3rem;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #d8d6d6;
  }

  .box2 {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    
    
    min-height: 200px;
    margin: 100px auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background: rgb(201, 247, 253);
    border-radius: 5px;
  }
